.bg-home{
    background: rgb(70,2,166);
    background: linear-gradient(180deg, rgba(70,2,166,0.9500175070028011) 0%, rgba(17,76,250,1) 100%);
    max-width:auto;
    height:750px;
}


.bg-nav{

    background: rgb(77,231,107);
    background: linear-gradient(180deg, rgba(77,231,107,0.9500175070028011) 0%, rgba(119,229,236,1) 100%);

}


.bg-todo{

    background: rgb(70,2,166);
    background: linear-gradient(180deg, rgba(70,2,166,0.9500175070028011) 0%, rgba(17,76,250,1) 100%);
    max-width:auto;
    height:700px;
}

.bg-card{

    background-color: whitesmoke;
}

.nocurs{

    cursor:default;
    
}


.myborder{

    border-bottom: rgb(76, 43, 226) 1px solid;
}

.colorx{

    color:white;
    text-decoration: none;
}

.taskpoints{

    font-size: 17px;
}

.iconsizer{

    font-size: 17px;
}

.brand{

    font-family: 'Baloo Tammudu 2', cursive;
    font-weight: 600;
    font-size: 23px;
}


